@model Project2.Models.Entities.ProjectRole

@{
    ViewData["Title"] = "Edit Project Role";
}

<h2>Edit Project Role</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="form-group">
                <label for="ProjectId" class="control-label col-md-2">Select a Project:</label>
                <div class="col-md-10">
                    <select name="projectId" id="projectId" class="form-control">
                        <option selected value="@Model.ProjectId">@Model.Project.Name</option>
                        @Html.Partial("EditProjectPartial", ViewData["projectvm"])
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="PersonId" class="control-label col-md-2">Select a Person:</label>
                <div class="col-md-10">
                    <select name="personId" id="personId" class="form-control">
                        <option selected value="@Model.PersonId">@Model.Person.FirstName @Model.Person.LastName</option>
                        @Html.Partial("EditPersonPartial", ViewData["personvm"])
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">    
            <div class="form-group">
                <label for="RoleId" class="control-label col-md-2">Select a Role:</label>
                <div class="col-md-10">
                    <select name="roleId" id="roleId" class="form-control">
                        <option selected value="@Model.RoleId">@Model.Role.Name</option>
                        @Html.Partial("EditRolePartial", ViewData["rolevm"])
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

